/* Custom Classes */

.ff-one {
    font-family: var(--font-one) !important;
}
.ff-two {
    font-family: var(--font-two) !important;
}

.clr-one {
    color: var(--color-one);
}
.clr-two {
    color: var(--color-two);
}
.bg-one{
    background-color: var(--color-one);
}
.bg-two{
    background-color: var(--color-two);
}

.fz-18 {
    font-size: 18px;
}
.fz-16 {
    font-size: 16px;
}
.fz-14 {
    font-size: 14px;
}
.fz-12 {
    font-size: 12px;
}
.fz-10 {
    font-size: 10px;
}